aside {
  position: fixed;
  top: 0;
  left: -100%;
  width: 30rem;
  max-width: 80%;
  height: 100vh;
  background: #48bae4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: left 0.3s ease-out;
  z-index: 50;
}

:host([opened]) aside {
  left: 0;
}

header {
  padding: 1rem;
  background: #00a0d6;
  position: relative;
}

header h1 {
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
}

#close-side-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.1rem;
  color: #fff;
  background: transparent;
  font-size: 1.5rem;
  border: none;
}

#close-side-menu-btn:focus {
  outline: none;
}

#close-side-menu-btn:hover {
  cursor: pointer;
}

#side-menu-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

#side-menu-tabs button {
  width: 30%;
  text-align: center;
  background-color: #48bae4;
  color: #3c3c3c;
  border: 1px solid #000;
  font: inherit;
  padding: 0.15rem 0;
  cursor: pointer;
}

#side-menu-tabs button.active,
#side-menu-tabs button:active {
  background-color: #48bae4;
  color: #fff;
}

#side-menu-tabs button:hover {
  background-color: #cdeefb;
  color: #00a0d6;
}

#side-menu-tabs button:focus {
  outline: none;
}

#contact-info {
  padding: 0 1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3 ease-out;
}

:host([opened]) .backdrop {
  opacity: 1;
  pointer-events: all;
}